.masonry{
    columns: 350px 6;
    div{
        width: 100%;
        display: inline-block;
        margin: 0 1rem 1rem 0;
    }
}

mat-card-subtitle {
    display: flex;
    mat-divider{
        margin: 5px
    }
}